<div class="h-24 py-2 relative">
    <div class="w-auto mx-2 md:w-4/5 md:m-auto h-full my-0 flex justify-between">
        <div class="flex w-auto h-full items-center">
            <a href="./">
                <!-- <img class="h-16 mr-4" src="./static/logo_small.svg" alt="Didrik Munther IT & Datakonsult AB"> -->
                <svg class="h-16 mr-4 overflow-visible" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 67.87 62.54">
                    <defs>
                        <style>
                            #main-icon .cls-1 {
                                fill: #1d1d1b;
                            }
                
                            #main-icon .cls-2 {
                                fill: url(#linear-gradient);
                            }
                
                            #main-icon .cls-3 {
                                fill: url(#linear-gradient-2);
                            }
                        </style>
                        <linearGradient id="linear-gradient" x1="27.95" y1="23.63" x2="67.87" y2="23.63" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#084675" />
                            <stop offset="1" stop-color="#0265a9" />
                        </linearGradient>
                        <linearGradient id="linear-gradient-2" x1="10.01" y1="56.35" x2="57.88" y2="56.35"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#084777" />
                            <stop offset="1" stop-color="#0265a9" />
                        </linearGradient>
                    </defs>
                    <g id="main-icon" data-name="Layer 2">
                        <g id="main-icon-inner" data-name="Layer 1">
                            <path class="cls-1"
                                d="M34.4,6.24A19.69,19.69,0,0,0,31.83,4,21.12,21.12,0,0,0,18.85,0H2.94A2.93,2.93,0,0,0,.39,1.48,2.9,2.9,0,0,0,0,2.94V44.42a2.94,2.94,0,0,0,2.94,2.94H20.08c.81,0,1.59,0,2.35-.1a18.58,18.58,0,0,0,10.41-3.95,16.6,16.6,0,0,0,2.25-2.19q5.41-6.24,5.41-17.48Q40.5,12.67,34.4,6.24ZM12.6,7.81h5.49A12.29,12.29,0,0,1,27.48,12q4.05,4.46,4,11.65t-3.7,11.65a11.23,11.23,0,0,1-9,4.19H12.6A3,3,0,0,1,11,39a3,3,0,0,1-1.33-2.47V10.75A2.93,2.93,0,0,1,10.8,8.43h0A2.93,2.93,0,0,1,12.6,7.81Z" />
                            <path class="cls-2"
                                d="M61.37,0H28.11a.16.16,0,0,0-.05.31,19.25,19.25,0,0,1,6.11,3.6.12.12,0,0,0,.1,0H59.71a2.51,2.51,0,0,1,2.51,2.51V40.8a2.51,2.51,0,0,1-2.51,2.51H35.12a.15.15,0,0,0-.1,0A17.29,17.29,0,0,1,29.21,47a.16.16,0,0,0,.05.31H61.37a6.5,6.5,0,0,0,6.5-6.5V6.5A6.5,6.5,0,0,0,61.37,0Z" />
                            <path class="cls-3"
                                d="M38.39,55.68h1.49A111.76,111.76,0,0,1,57.22,58a.71.71,0,0,1,.63.9L56.7,62a1,1,0,0,1-1.1.49,98.88,98.88,0,0,0-43.34,0,1,1,0,0,1-1.1-.49L10,58.82c-.14-.38.15-.79.64-.9a118.62,118.62,0,0,1,17.74-2.27H29.5Zm0,0V51.45a1.27,1.27,0,0,0-1.25-1.29H30.75a1.27,1.27,0,0,0-1.25,1.29v4.2Z" />
                        </g>
                    </g>
                </svg>
            </a>
            <p class="hidden md:block text-lg uppercase tracking-wider font-thin">IT & Datakonsult</p>
        </div>
        
        <div id="language" class="dropdown md:absolute relative flex-auto flex justify-end h-full w-16 p-3 flex top-0 md:right-4 md:hover:bg-gray-100 md:cursor-pointer">
            <img class="w-10" src="{{ activeLanguage.img }}" alt="">
            <ul class="absolute left-0 md:left-auto w-full top-full md:w-40 z-30 md:right-0 md:bg-gray-100 bg-gray-200">
                {% for lang in languages %}
                <li>
                    <a href="{{ getDomainRedirect(lang.domain) }}">
                        <div class="flex items-center p-3 hover:bg-gray-400">
                            <img
                                class="mr-4 w-10"
                                src="{{ lang.img }}" alt="">
                            <div>{{ lang.name }}</div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        {% include 'nav.html' %}
    </div>
</div>